Source: mygpiod
Section: misc
Priority: optional
Maintainer: Juergen Mang <mail@jcgames.de>
Build-Depends: debhelper (>= 10), cmake
Standards-Version: 4.1.2
Homepage: https://jcorporation.github.io/myGPIOd/

Package: mygpiod
Architecture: any
Depends: libc6
Description: A daemon for interacting with raspberry GPIOs.
 myGPIOd is a standalone daemon to set raspberry GPIOs modes,
 listens on GPIO events and executes scripts. 
