# Configuration for an input gpio
# Copy it to <gpio number>.in

# The events to request
#request_event = both
#request_event = falling
#request_event = rising

# Sets the GPIO active state
# Valid values: true, false
# - true = GPIO considered active if it is low
# - false = GPIO considered active if it is high
active_low = true
#active_low = false

# Sets the internal pull-up or pull-down resistor
# Valid values: as-is, disable, pull-down, pull-up
# - as-is = do not change it
# - disable = disables the internal resistor
# - pull-down = pulls the gpio down
# - pull-up = pulls the gpio up
bias = as-is
#bias = disable
#bias = pull-down
#bias = pull-up

# Debounce setting
# Valid values: debounce period in microseconds
debounce = 0

# Event clock
# Valid values: monotonic, realtime, hte
event_clock = monotonic

# Action for rising event
#action_rising = /usr/local/bin/poweroff.sh

# Action for falling event
#action_falling = /usr/local/bin/poweroff.sh

# Long press support
# Event for the long press handler
#long_press_event = falling
#long_press_event = raising

# Timeout in seconds after long press action is executed
#long_press_timeout = 2

# The long press action
#long_press_action = /usr/local/bin/reboot.sh
