name: release
on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: installdeps
      run: sudo apt-get -y install cmake build-essential autoconf-archive automake git pkgconf libmpdclient-dev libcurl4-gnutls-dev
    - name: build
      run: |
        cmake -B release -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_BUILD_TYPE=Release .
        make -C release
    - name: install
      run: sudo make -C release install
